@import "tailwindcss";

:root {
  --color-bg: #fff0b8;
  --color-text: #000000;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #000000;
    --color-text: #f0f0f0;
  }
} */
body{
  background-color: #fff0b8;
  font-size: 17px;
  color: #000000;

  height: 100vh;
}

main{
  padding-bottom: 70px; 
}

div{
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; */
  background-color: var(--color-bg);
  color: var(--color-text);
}